<%- include("partials/header"); -%>

  <!-- Lejne members -->
  <div id="LejneMembers">

    <div class="LejneMemberRow">
      <img class="right-image" src="images/Fadi.png" alt="Fadi">
      <h1>الرّئيس: فادي أبي نادر</h1>
      <h2>فرع السّيدة - مراح الزيّات</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="left-image" src="images/Georges.png" alt="Georges">
      <h1>نائب الرّئيس: جورج ضرغام</h1>
      <h2>فرع السّيدة العجائبيّة - غوما</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="right-image" src="images/Elissa.png" alt="Elissa">
      <h1>أمين السّر: ايليسّا الياس</h1>
      <h2>فرع مار سمعان العامودي – بقسميّا</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="left-image" src="images/Roukoz.png" alt="Roukoz">
      <h1>أمين الصّندوق: روكز سلامة</h1>
      <h2>فرع مار يوحنّا مارون – سلعاتا</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="right-image" src="images/Lynn.png" alt="Lynn">
      <h1>وكيل الرّسالة: لين كليم</h1>
      <h2>فرع مار ادناوس – شبطين</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="left-image" src="images/Mary.png" alt="Mary">
      <h1>وكيلة التّنشئة: ماري زهرا</h1>
      <h2>فرع مار عبدا – كفيفان</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="right-image" src="images/Myriam.png" alt="Myriam">
      <h1>وكيلة الإعلام: ميريام لحّود</h1>
      <h2>فرع مار بنديليمون – بجدرفل</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="left-image" src="images/Geovany.png" alt="Geovany">
      <h1>المستشار: جيوفاني منذر</h1>
      <h2>فرع مار بنديليمون – بجدرفل</h2>
    </div>

    <div class="LejneMemberRow">
      <img class="right-image" src="images/Edgard.png" alt="Edgard">
      <h1>المرشد: أبونا إدغار حرب</h1>
    </div>
  </div>

<%- include("partials/footer"); -%>
